.weather-card {
    width: 400px;
    padding: 0px;
}

.weather-header {
    position: relative;
    padding: 12px;
    background: transparent;
    min-height: 60px;
}

.weather-header:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: ' ';
    z-index: 1;
    opacity: 0.8;
    background-image: url('https://drive.google.com/uc?id=1DRGmofyk2KbKvY8HF8vvqcBGj7VRXKnY');
}

.weather-header mat-card-title {
    margin-left: 20px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header mat-card-subtitle {
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    z-index: 2;
    position: relative;
}

.weather-header-icon {
    font-size: 48px;
    color: #fff;
    z-index: 2;
}

.weather-card-content-info {
    background-color: #e0e0e0 !important;
}

.weather-card-content-info .wi {
    font-size: 22px;
    margin-right: 4px;
}

.weather-info-text {
    font-size: 22px;
    margin-top: 4px;
}

.weather-info-temp-up {
    font-size: 24px;
}

.weather-info-temp-up .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #D32F2F;
}

.weather-info-temp-down {
    font-size: 24px;
}

.weather-info-temp-down .wi {
    font-size: 30px;
    margin-right: 4px;
    color: #1E88E5;
}

.weather-info-temp .number {
    font-size: 80px;
    font-weight: bolder;
}

.weather-info-temp .measure {
    font-size: 32px;
}

.sunrise-sunset-spinner {
    position: absolute;
    margin-top: 58px;
    transform: rotate(-90deg);
}

:host /deep/ .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #ffa828;
    stroke-opacity: 0.6;
}

.weather-info-sunrise {
    margin-left: 16px;
}

.weather-info-sunrise .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunrise .hour {
    position: absolute;
    margin-top: -20px;
}

.weather-info-sunset {
    margin-left: -16px;
}

.weather-info-sunset .wi {
    margin-top: 50px;
    font-size: 30px;
}

.weather-info-sunset .hour {
    position: absolute;
    margin-top: -20px;
}