<mat-card>
    <mat-card-content>
        <mat-form-field>
            <!-- <input matInput placeholder="Ciudad" name="cityName" [value]="cityName" (input)="cityName=$event.target.value"> -->
            <input matInput placeholder="Ciudad" name="cityName" [(ngModel)]="cityName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchCity()" [ngClass]="cityName !== '' ? 'active' : 'no-active'">Buscar ciudad</button>
        <mat-spinner *ngIf="loading"></mat-spinner>
    </mat-card-content>
</mat-card>