.forecast-title{
    font-size:22px;
    background-color: #e0e0e0 !important;
    padding: 8px;
}

.forecast-list {
    border-bottom: 1px solid #e0e0e0;
}
.forecast-date{
    font-size:14px;
}
.forecast-icon {
    font-size: 24px;
}
.forecast-temp-up {
    font-size:18px;
}

.forecast-temp-up .wi{
    font-size: 24px;
    margin-right: 4px;
    color:#D32F2F;
}

.forecast-temp-down {
    font-size:18px;
}

.forecast-temp-down .wi{
    font-size: 24px;
    margin-right: 4px;
    color:#1E88E5;
}