.full-page-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}

.login-card {
    z-index: 2;
    background-color:#ffffff !important;
    min-height: 200px;
    text-align: center;
    margin-top: -80px !important;
    font-size: 18px;
    font-family: "Arial", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    width: 500px;
}

.login_logo {
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

.border-top-input {
    border-top: solid 1px #c6c6c6;
    padding-top: 20px;
    margin-top: 14px;
}   

.error {
    font-size: 12px;
}